<nav>
	<ul>
	  <li><a routerLink="/">First Component</a></li>
	  <li><a routerLink="list">List</a></li>
	  <li><a routerLink="table">Table</a></li>
	  <li><a routerLink="directives">Directives</a></li>
	  <li><a routerLink="if-render">If-render</a></li>
	  <li style="float: right">
		 <a ngClass="active" routerLink="char">CharJS</a>
	  </li>
	  <li><a routerLink="events">Events</a></li>
	  <li><a routerLink="emitter">Emitter</a></li>
	  <li><a routerLink="pipes">Pipes</a></li>
	  <li><a routerLink="two-way-binding">2Way</a></li>
	  <li><a routerLink="calculator">Calculator</a></li>
	</ul>
 </nav>
